.main-page {
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: flex-start; /* Align content to the top of the container */
    margin-top:80px;
}

.center-content {
    text-align: center; /* Center text horizontally */
}
  