
.fave-button {
    color: red;
}

/* Default styles for larger screens (no flex-grow) */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Media query for small screens */
@media (max-width: 768px) {
    .card-container {
      flex-grow: 1;
    }
}
  